services:
  server: &server
    image: docker.io/hongmhuynh1/cat-research:${tag:-latest}
    environment:
      NODE_ENV: production
      SERVER_URL: "/"
      MAILTRAP_USER=REPLACE_WITH_VALUE_FROM_MAIL
      MAILTRAP_PASSWORD=REPLACE_WITH_VALUE_FROM_MAIL
    ports:
        - 3000:3000
        - 3001:3001
    command: node server.cjs
    restart: unless-stopped