services:
  server: &server
    image: hongmhuynh1/cat-research:${tag:-latest}
    environment:
      NODE_ENV: production
      SERVER_URL: "/"
    ports:
        - 3000:3000
        - 3001:3001
    command: node server.cjs
    restart: unless-stopped