.cat-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
} 

.cat-item {
    border: 1px solid #ddd;
    /*border-radius: 4px;*/
    overflow: hidden;
    width: 220px;
    text-align: center;
    padding: 10px;
}

.cat-item img {
    width: 100%;
    height: auto;
     /*border-bottom: 1px solid #ddd;*/
    margin-bottom: 5px;
}


/* main {
    display: flex;
    justify-content: left;
    align-items: center;
} */



/* #advice-form {
    display: flex;
    flex-direction: column;
    --bg: rgb(38, 35, 35);
    background-color: rgb(59, 52, 52);
    border: 2px solid rgb(17, 16, 16);
    color: rgb(240, 247, 248);
    opacity: 0.8;
    border-radius: 2px;
    margin-right: 0px;
    justify-content: center;
    padding: 3 10px;
    font-size: 20px;
    margin-top: 35px;
} */



/* justify[content|item] start center end */
.justify-content-start {
    justify-content: start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

/* align[content|item] start center end */
.align-items-start {
    justify-content: start;
}

.align-items-center {
    justify-content: center;
}

.align-items-end {
    justify-content: end;
}

/* flex */
.flex-2 {
    flex-grow: 2;
}

h1 {
    display: flex;
}

.flex-grow-none {
    flex-grow: none;
}

.flex-row, .flex-column {
    display: flex;
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

fieldset {
    border: none;
    display: flex;
    gap: 10px;
}

label {
    flex: 1 1 40%;
}

input {
    flex: 1 1 60%;
}

form {
    width: 100%;
}

h3 {
    padding: 0px 15px;
    text-align: center;
}

.nfc-cat-paws {
    background: url('/images/5.jpg') 25px/205px;
    height: 70px;
    width: 100%;
}

:is(input, button).glow {
    width: 300px;
    margin: 15px;
    font-size: 16px;
    background: rgb(242, 232, 232);
    color: black;
    border-radius: 18px;
    border: 3px solid #6c7374;
}
/*.glowHover{
    background: white;
    color: black;
}*/
:is(input, button).glow:hover {
    background: white;
    color: black;
    border: 3px solid  #6c7374;
    box-shadow: 0 0 10px rgb(236, 240, 242), 0 0 20px rgb(232, 238, 241), 0 0 20px rgb(226, 233, 238), 0 0 30px rgb(221, 230, 235);
}


:is(input, button).g-button {
    /*width: 300px;*/
    margin: 15px;
    font-size: 16px;
    background: white;
    color: black;
    border-radius: 18px;
    border: 3px solid #6c7374;
}

:is(input, button).g-button:hover {
    background: white;
    color: black;
    border: 3px solid #6c7374;
    box-shadow: 0 0 10px rgb(236, 240, 242), 0 0 20px rgb(232, 238, 241), 0 0 20px rgb(226, 233, 238), 0 0 30px rgb(221, 230, 235);
}



 body {
     margin-top: 30px;
     background-position: center;
 }

#search-form-section {
    margin-top: 130px;
}

#search-form {
    margin: 0 auto;
}

#search-box {
    height: 15px;
    margin: 0 auto;
    border-radius: 10px;
}



#clear-btn {
    margin-left: 15px;
}

#clear-btn, #search-btn {
    background-color: rgb(224, 229, 234);
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 20px;
    font-size: large;
}

#search-btn:hover, #clear-btn:hover {
    
    margin: 15px;
    font-size: 16px;
    background: rgb(17, 191, 211);
    color: black;
    border-radius: 18px;
    border: 3px solid #6c7374;
}



#center {
    margin-top: 40px;
}


button:hover, input[type=submit]:hover {
    box-shadow: 0 0 10px rgb(236, 240, 242), 0 0 20px rgb(232, 238, 241), 0 0 20px rgb(226, 233, 238), 0 0 30px rgb(221, 230, 235);
}

#book-submit-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;

}

input{
    color: black
}


.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: last baseline;
  }
  
  .breed-container {
    display: flex;
    justify-content: space-between; /* Adjust spacing between items */
    flex-wrap: wrap; /* Wrap items to the next line if they don't fit in one row */
  }
  
  .breed-info {
    flex: 1; /* Allows items to grow and shrink as needed */
    margin: 10px; /* Space around each breed-info block */
    max-width: 400px; /* Limit width to ensure proper spacing */
    text-align: left;
  }